@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@200&family=Quicksand&family=Yusei+Magic&display=swap');

.no-style {
  text-decoration: none;
}

.nav-bar {
  list-style-type: none;
  margin-top: 80px;
}

.nav-tab {
  background-color: wheat;
  padding: 21px;
  margin: 20px;
  margin-left: -140px;
  width: 190px;
  border-radius: 18px;
  transition: 0.4s;
  text-align: right;
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;

}

li:hover {
  background-color: rgb(241, 187, 68);
  position: relative;
  left: 35px;
  box-shadow: -10px 10px #6b7a66;
}

.link {
  text-decoration: none;
  color:  rgb(51, 51, 51);
}

